@font-face {
    font-family: "quicksand";
    src: url("resources/quicksand.ttf");
}

body {
    background-color: rgb(255, 247, 221);
    overflow: none;
}

.nukeButton {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: red;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(200, 0, 0);
    box-shadow: 0px 10px rgb(150, 0, 0);
    transition-duration: 100ms;
}

.nukeButton:hover {
    box-shadow: 0px 7.5px rgb(150, 0, 0);
    transform: translateY(2.5px);
    cursor: pointer;
}

.nukeButton:active {
    box-shadow: 0px 0px 0px 0px rgb(150, 0, 0);
    transform: translateY(10px);
}

.buttonContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.score {
    font-family: "quicksand";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 50px;
}

.highscore {
    font-family: "quicksand";
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 15px;
}

.coins {
    font-family: "quicksand";
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 15px;
}

.base {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background-color: rgb(175, 175, 175);
    color: white;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(150, 150, 150);
    box-shadow: 0px 15px rgb(125, 125, 125);
    transition-duration: 300ms;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -45%);
}

.shop {
    width: 350px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -300px;
    background-color: rgb(193, 185, 158);
    transition: cubic-bezier(.17,.97,.69,.99) 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop:hover {
    left: 0px;
}

.shop > h1 {
    font-family: "quicksand";
    color: white;
}

.shop > button {
    width: 250px;
    height: 35px;
    background-color: white;
    font-family: "quicksand";
    border: none;
    border-radius: 5px;

    box-shadow: 0px 7.5px rgb(200, 200, 200);

    transition-duration: 100ms;
}

.shop > button:hover {
    transform: translateY(2.5px);
    box-shadow: 0px 5px rgb(200, 200, 200);
}

.shop > button:active {
    transform: translateY(7.5px);
    box-shadow: 0px 0px rgb(200, 200, 200);
}